Repository hmcts/rd-location-ref-data-load, pull requests merged in 2021-02, with the labels that each got.

#99 fix: RDCC-2413 replaced location ref load key vaults for storage account
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-99

#105 fix: add functional test report and suppress camel-2 CVE
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/config/LrdCamelConfig.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-105

#106 fix: updated chart configuration
  charts/rd-location-ref-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-106

#107 fix: helm issue
  charts/rd-location-ref-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-107
