Repository hmcts/rd-location-ref-data-load, pull requests merged in 2021-06, with the labels that each got.

#139 RDCC-2837 changed all Compile and testCompile entries to implementation and testImplementation
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-139

#147 RDCC-2900 Nightly jenkins script changes done to enable security scan
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-147

#148 fix: RDCC-2960 Added missing security.sh file
  Jenkinsfile_nightly
  audit.json
  security.sh
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-148

#154 refactor: Aks Blob chart with functional test cases
  Jenkinsfile_CNP
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-154

#155 fix: corrected yaml configuration aat
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-155

#159 Removed unwanted secret variable
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.preview.template.yaml
  charts/rd-location-ref-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-159
