Repository hmcts/rd-location-ref-data-load, pull requests merged in 2021-09, with the labels that each got.

#181 feat: RDCC-3230 Added RowID to the exception table and populated data into it
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/config/LrdCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_12__alter_dataload_exception_records_add_row_id.sql
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/BuildingLocation.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/ServiceToCcdCaseType.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/IClusterRegionProcessor.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/ServiceToCcdCaseTypeProcessor.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/db/migration/V1_12__alter_dataload_exception_records_add_row_id.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-181

#180 Add fortify implementation
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-180

#184 feat: RDCC-3230 Adding RowID in exception table
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/config/LrdCamelConfig.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_12__alter_dataload_exception_records_add_row_id.sql
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/BuildingLocation.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/ServiceToCcdCaseType.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/IClusterRegionProcessor.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/ServiceToCcdCaseTypeProcessor.java
  src/main/resources/application-camel-routes-common.yaml
  src/main/resources/db/migration/V1_12__alter_dataload_exception_records_add_row_id.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-184
