Repository hmcts/rd-location-ref-data-load, pull requests merged in 2021-11, with the labels that each got.

#190 RDCC-3485: Changes to Camel ingestion for Court Venue file
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure-columns-in-jumbled-order.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-partial-success.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-cluster.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-court-type-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-epimms-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-region.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test.csv
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapper.java
  src/main/resources/application-lrd-court-venue-router.yaml
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-190

#191 fix: RDCC-3557 Upgraded spring core version to fix CVE-2021-22096
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-191

#192 RDCC-3520: LRD JUnit 4 to JUnit 5 migration
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationFileStatusCheck.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/locationrefdata/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/BuildingLocationTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/ServiceToCcdCaseTypeTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/BuildingLocationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapperTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/ServiceToCcdCaseTypeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/BuildingLocationProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/CourtVenueProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/ServiceToCcdCaseTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/task/LrdBuildingLocationRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/task/LrdCourtVenueRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/util/LrdLoadUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-192

#193 Publish Jenkins Tests Report
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-193
