Repository hmcts/rd-location-ref-data-load, pull requests merged in 2021-03, with the labels that each got.

#109 Update app insights secret key name
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.preview.template.yaml
  charts/rd-location-ref-data-load/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-109

#110 fix: truncate issue lrd load
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/config/LrdCamelConfig.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-110

#112 fix: Stale files with truncate sql not roll-backing to existing data(RDCC-2251)
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/config/LrdCamelConfig.java
  src/functionalTest/resources/application-integration.yml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-112

#116 feat:camel 2 to camel 3 and Junit 4 to Junit 5 migration(RDCC-2493)
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdFileStatusCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/LrdIntegrationBaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/RestartingSpringJUnit4ClassRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/SpringRestarter.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/testsupport/SpringStarter.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/listener/JobResultListenerTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/ServiceToCcdCaseTypeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/ServiceToCcdCaseTypeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/task/LrdRouteTaskTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/util/LrdExecutorTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-116

#104 DependBot : Jar version upgrade(RDCC-2507)
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-104

#121 Update job chart version
  charts/rd-location-ref-data-load/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-121

#123 fix: Fixed CVE CVE-2021-21295 by upgrading netty version
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-123
