Repository hmcts/rd-location-ref-data-load, pull requests merged in 2022-02, with the labels that each got.

#231 Feature: New fields to be added for CourtVenue
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_14__alter_court_venue_table.sql
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure-columns-in-jumbled-order.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-partial-success.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-cluster.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-court-type-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-epimms-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-region.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test.csv
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapper.java
  src/main/resources/application-lrd-court-venue-router.yaml
  src/main/resources/db/migration/V1_14__alter_court_venue_table.sql
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-231

#230 added fix with latest spring version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-230

#228 RDCC-3923: LRD-data-load Remove Deprecated Jcenter Repository
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationExceptionAndAuditTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdApplicationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationFileStatusCheck.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdFileStatusCheckTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-228

#235 RDCC-4048: Fix CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-235

#236 fixed sonar issues - Refactor this method to reduce the number of ass…
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenueTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-236

#234 Rdcc gradle upgrade
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-234

#240 fix: Removed bootstrap.yaml and modified config to retrieve the secrets
  build.gradle
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.preview.template.yaml
  charts/rd-location-ref-data-load/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-240

#242 added logging and improvisation
  src/main/java/uk/gov/hmcts/reform/locationrefdata/LrdLoadApplication.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/listener/JobResultListener.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/BuildingLocationProcessor.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/CourtVenueProcessor.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/processor/ServiceToCcdCaseTypeProcessor.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-242
