Repository hmcts/rd-location-ref-data-load, pull requests merged in 2022-06, with the labels that each got.

#277 config: RDCC-4816 Configured renovate
  renovate.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-277

#283 RDCC-4876 : Testing using MRD test files for Location Reference Data
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_invalid_epims_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_no_epims_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_no_postcode.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_success_test_with_quotes.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_partial_success_non_existent_cluster_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_partial_success_non_existent_region_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_success_case_insensitive_headers.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test.csv
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/constants/LrdDataLoadConstants.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/util/LrdLoadUtils.java
  src/main/resources/db/migration/V1_18__Insert_mrd_changes_records.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-283

#285 RDCC-4887: Location - Update Region based on the new OPT Codes
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdBuildingLocationsLoadTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/resources/db/testmigration/V1_18__Insert_mrd_changes_records.sql
  src/functionalTest/resources/db/testmigration/V1_19__update_region_table.sql
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_failure_test_missing_epimsId_header.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_failure_test_no_valid_building_location.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_failure_test_unknown_header.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_invalid_epims_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_no_epims_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_partial_success_test_no_postcode.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_success_test_with_quotes.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_partial_success_non_existent_cluster_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_partial_success_non_existent_region_id.csv
  src/functionalTest/resources/sourceFiles/buildingLocations/building_location_test_success_case_insensitive_headers.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure-columns-in-jumbled-order.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-partial-success.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-cluster.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-court-type-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-epimms-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-region.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test.csv
  src/main/resources/db/migration/V1_19__update_region_table.sql
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-285

#286 RDCC-5005: Update the chart version of service bus and blob storage to the latest
  charts/rd-location-ref-data-load/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-286
