Repository hmcts/rd-location-ref-data-load, pull requests merged in 2023-02, with the labels that each got.

#337 [RDCC-6244]- OWASP upgrade for Location ref data load
  build.gradle
  charts/rd-location-ref-data-load/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-337

#339 RDCC-6332: Fix for `CVE-2022-40152`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-339

#340 app insights issue fix
  Dockerfile
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-340

#341 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-341
