Repository hmcts/rd-location-ref-data-load, pull requests merged in 2024-05, with the labels that each got.

#412 DTSRD-2766
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-412, enable_full_functional_tests

#417 Update values.yaml
  charts/rd-location-ref-data-load/Chart.yaml
  charts/rd-location-ref-data-load/values.yaml
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-417

#425 Fix Provider issues
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, aat/no-changes, prod/no-changes, rel:rd-location-ref-data-load-pr-425

#414 DTSRD-2505: Add new column (External_Court_Name) to the court_venue table
  src/functionalTest/java/uk/gov/hmcts/reform/locationrefdata/cameltest/LrdCourtVenueTest.java
  src/functionalTest/resources/application-integration.yml
  src/functionalTest/resources/db/testmigration/V1_26__alter_tables_add_columns.sql
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure-columns-in-jumbled-order.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-failure.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-partial-success.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-external-court-name.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-cluster.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-court-type-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-epimms-id.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test-partial-success-non-existent-region.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-test.csv
  src/functionalTest/resources/sourceFiles/courtVenues/court-venue-utf8-header-success.csv
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapper.java
  src/main/resources/application-lrd-court-venue-router.yaml
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/binder/CourtVenueTest.java
  src/test/java/uk/gov/hmcts/reform/locationrefdata/camel/mapper/CourtVenueMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-location-ref-data-load-pr-414, aat/no-changes, prod/no-changes
